* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TossFace', 'Pretendard', sans-serif;
    line-height: 1.2;
}

html {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body {
    height: 100vh;
    background: #333;
    color: #fff;
    display: flex;
    overflow: hidden;
}

aside {
    padding: 20px 0;
    width: 230px;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #444;
    background: #333;
    z-index: 9999;
}

aside h1 {
    margin-bottom: 15px;
    padding-left: 15px;
    font-size: 18px;
}

aside p {
    font-size: 12px;
    word-break: keep-all;
    color: #ddd;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    margin: 0 15px 20px;
}

aside ul {
    display: flex;
    flex-direction: column;
}

aside li button {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 14px;
    border: none;
    background: none;
    padding: 0 15px;
    height: 56px;
    color: inherit;
    line-height: 1.6;
}

aside li.active button {
    background: #1c5934;
    cursor: pointer;
}

aside li.disabled button {
    color: #666;
}

aside li:not(.active, .disabled) button:hover {
    background: #222;
}

aside li button span {
    display: block;
    font-size: 12px;
    opacity: 0.75;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #444;
}

::-webkit-scrollbar-thumb {
    background: #222;
}

main {
    flex: 1;
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

main .title_wrap {
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
    height: auto;
}

main .title_wrap h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
    word-break: keep-all;
}

main .title_wrap p {
    font-size: 14px;
    color: #eee;
    font-weight: 300;
    line-height: 1.3;
    word-break: keep-all;
}

main .content_wrap {
    padding: 20px 0;
    display: flex;
    flex: 1;
    gap: 20px;
}

.gui_wrap {
    flex: 0.4;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.canvas_wrap {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    border: 1px solid #666;
    margin-bottom: 10px;
}

.button_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.button_wrap button {
    background: none;
    border: 1px solid #666;
    padding: 5px;
    color: #eee;
    cursor: pointer;
}

.button_wrap button:hover {
    background: #222;
}

.canvas_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: grid;
    grid-template-rows: repeat(100, 1fr);
}

.canvas_container .row {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
}

.canvas_container .row:first-child {
    border-top: 1px solid #2a2a2a;
}

.canvas_container .row .tile:first-child {
    border-left: 1px solid #2a2a2a;
}

.tile {
    position: relative;
    border-right: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.tile span {
    font-size: 8px;
    line-height: 1;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    z-index: 5;
    text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}

.water {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgb(39, 42, 77)
}

.tree-area {
    background: rgb(29, 52, 29);
}

.chart_wrap {
    flex: 0.6;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.chart_container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chart_title_wrap p {
    font-size: 14px;
}

.chart_screen_wrap {
    flex: 1;
    display: flex;
}

.chart_screen {
    flex: 1;
}

header {
    display: none;
}

@media screen and (max-width: 768px) {

    html,body {
        height: 100%;
    }

    aside {
        position: fixed;
        top: 0;
        width: 80%;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    main {
        padding: 20px 5%;
        padding-top: 70px;
    }

    .chart_container {
        padding: 0;
    }

    main .content_wrap {
        flex-direction: column;
        padding-bottom: 40px;
    }

    .gui_wrap {
        flex: 1;
    }

    .chart_wrap {
        flex: 1;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .chart_screen_wrap {
        position: relative;
        height: 0;
        padding-bottom: 100%;
    }

    .chart_screen {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background: #222;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    header p {
        font-size: 14px;
        font-weight: 500;
    }

    header button {
        width: 20px;
        height: 12px;
        border: none;
        background: none;
        cursor: pointer;
        position: relative;
        z-index: 10;
        -webkit-tap-highlight-color: transparent;
    }

    header button span {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.3s ease;
        transform-origin: center;
    }

    header button span:nth-child(1) {
        top: 0;
    }

    header button span:nth-child(3) {
        top: 100%;
    }

    body.open-menu header button span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    body.open-menu header button span:nth-child(2) {
        opacity: 0;
    }

    body.open-menu header button span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    body.open-menu aside {
        transform: translateX(0);
    }
}

.tag {
    font-size: 11px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    border-radius: 100px;
    background: #1c5934;
    font-family: 'Pretendard', sans-serif;
}

.tag_wrap {
    margin-top: 20px;
}